wheel
jinja2
markdown
requests
flask
flask_admin
flask_sqlalchemy
flask-security
flask-login
flask-dance
http://github.com/pythonforfacebook/facebook-sdk/tarball/master
python-twitter
typogrify
pelican
pelican-neighbors