# Velican server that regenerates blogs based on host, path and .command
[Service]
Type=simple
ExecStart=/usr/local/bin/flask run --port {{port}}
Environment=FLASK_APP=velican.server
Restart=on-failure